<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/table.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/sidebar.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/dateSelector.css') }}"
    />
  </head>
  <body>
    <!-- div left -->
    <div class="sidenav" id="sidebar"></div>
    <!-- div right -->
    <div class="main" id="main">
      <table></table>
    </div>
  </body>
  <script src="{{url_for('static', filename='js/callFunction.js')}}"></script>
</html>
